*{
  margin: 0;
  padding: 0 auto; 
  box-sizing: border-box;
}

.my-navbar{
  background-color: red !important;
}

.div1{
  height: 300px;
  background-color: yellow;
}

.div2{
  height: 300px;
  background-color: blue;
}

.mydiv3{
  display: flex !important;
  justify-content: center;
}